<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="FakeItEasy" version="1.25.2" targetFramework="net45" />
  <package id="Farada.TestDataGeneration" version="1.0.0.102" targetFramework="net45" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="9.1.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net35" />
</packages>